<launch>
  <!-- 12AUV演示启动文件 - 多层等间隔圆形编队 -->
  <!-- 海面1个AUV + 中层8个AUV + 海底3个AUV -->
  <!-- AUV 1: 0度位置 -->
  <arg name="x1" default="50"/>
  <arg name="y1" default="0"/>
  <arg name="z1" default="-20"/>
  <arg name="yaw1" default="1.5708"/>  <!-- 90度，朝向轨迹方向 -->
  
  <!-- AUV 2: 45度位置 -->
  <arg name="x2" default="35.36"/>
  <arg name="y2" default="35.36"/>
  <arg name="z2" default="-20"/>
  <arg name="yaw2" default="2.356"/>   <!-- 135度，朝向轨迹方向 -->
  
  <!-- AUV 3: 90度位置 -->
  <arg name="x3" default="0"/>
  <arg name="y3" default="50"/>
  <arg name="z3" default="-20"/>
  <arg name="yaw3" default="3.1416"/>  <!-- 180度，朝向轨迹方向 -->
  
  <!-- AUV 4: 135度位置 -->
  <arg name="x4" default="-35.36"/>
  <arg name="y4" default="35.36"/>
  <arg name="z4" default="-20"/>
  <arg name="yaw4" default="-2.356"/>  <!-- -135度，朝向轨迹方向 -->
  
  <!-- AUV 5: 180度位置 -->
  <arg name="x5" default="-50"/>
  <arg name="y5" default="0"/>
  <arg name="z5" default="-20"/>
  <arg name="yaw5" default="-1.5708"/>  <!-- -90度，朝向轨迹方向 -->
  
  <!-- AUV 6: 225度位置 -->
  <arg name="x6" default="-35.36"/>
  <arg name="y6" default="-35.36"/>
  <arg name="z6" default="-20"/>
  <arg name="yaw6" default="-0.7854"/>  <!-- -45度，朝向轨迹方向 -->
  
  <!-- AUV 7: 270度位置 -->
  <arg name="x7" default="0"/>
  <arg name="y7" default="-50"/>
  <arg name="z7" default="-20"/>
  <arg name="yaw7" default="0"/>       <!-- 0度，朝向轨迹方向 -->
  
  <!-- AUV 8: 315度位置 -->
  <arg name="x8" default="35.36"/>
  <arg name="y8" default="-35.36"/>
  <arg name="z8" default="-20"/>
  <arg name="yaw8" default="0.7854"/>  <!-- 45度，朝向轨迹方向 -->

  <!-- 海面AUV（AUV 9）：半径5m圆形轨迹，0度位置 -->
  <arg name="x9" default="5"/>
  <arg name="y9" default="0"/>
  <arg name="z9" default="-1"/>  <!-- 接近海面，深度-1m -->
  <arg name="yaw9" default="1.5708"/>  <!-- 90度，朝向轨迹方向 -->

  <!-- 海底AUV 10: 0度位置，半径10m圆形轨迹 -->
  <arg name="x10" default="10"/>
  <arg name="y10" default="0"/>
  <arg name="z10" default="-95"/>  <!-- 接近海底，深度-95m -->
  <arg name="yaw10" default="1.5708"/>  <!-- 90度，朝向轨迹方向 -->

  <!-- 海底AUV 11: 120度位置，半径10m圆形轨迹 -->
  <arg name="x11" default="-5"/>
  <arg name="y11" default="8.66"/>
  <arg name="z11" default="-95"/>  <!-- 接近海底，深度-95m -->
  <arg name="yaw11" default="-0.524"/>  <!-- 120度+90度-180度 = 30度，朝向轨迹方向 -->

  <!-- 海底AUV 12: 240度位置，半径10m圆形轨迹 -->
  <arg name="x12" default="-5"/>
  <arg name="y12" default="-8.66"/>
  <arg name="z12" default="-95"/>  <!-- 接近海底，深度-95m -->
  <arg name="yaw12" default="0.524"/>  <!-- 240度+90度-180度 = 150度，朝向轨迹方向 -->


  <!-- 中层轨迹参数 - 8个中层AUV使用同一个圆 -->
  <arg name="mid_radius" default="50"/>  <!-- 中层半径50m -->
  <arg name="mid_center_x" default="0"/>   <!-- 圆心在原点(0,0,-20) -->
  <arg name="mid_center_y" default="0"/>
  <arg name="mid_center_z" default="-20"/>
  <arg name="mid_max_forward_speed" default="1.5"/>

  <!-- 海面轨迹参数 - 1个海面AUV -->
  <arg name="surface_radius" default="5"/>  <!-- 海面半径5m -->
  <arg name="surface_center_x" default="0"/>
  <arg name="surface_center_y" default="0"/>
  <arg name="surface_center_z" default="-1"/>
  <arg name="surface_max_forward_speed" default="1.0"/>  <!-- 海面速度稍慢 -->

  <!-- 海底轨迹参数 - 3个海底AUV -->
  <arg name="bottom_radius" default="10"/>  <!-- 海底半径10m -->
  <arg name="bottom_center_x" default="0"/>
  <arg name="bottom_center_y" default="0"/>
  <arg name="bottom_center_z" default="-95"/>
  <arg name="bottom_max_forward_speed" default="1.2"/>  <!-- 海底速度适中 -->

  <arg name="record" default="false"/>
  <arg name="bag_filename" default="multi_recording.bag"/>
  <arg name="use_ned_frame" default="false"/>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #1 -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_1">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_1
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg x1) -y $(arg y1) -z $(arg z1) -R 0 -P 0 -Y $(arg yaw1) -model eca_a9_1 -param /eca_a9_1/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_1/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_1"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_1/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #2 (with 3-second delay) -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_2">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_2
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 3; $0 $@' "
          args="-urdf -x $(arg x2) -y $(arg y2) -z $(arg z2) -R 0 -P 0 -Y $(arg yaw2) -model eca_a9_2 -param /eca_a9_2/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_2/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_2"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_2/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #3 -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_3">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_3
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 1; $0 $@' "
          args="-urdf -x $(arg x3) -y $(arg y3) -z $(arg z3) -R 0 -P 0 -Y $(arg yaw3) -model eca_a9_3 -param /eca_a9_3/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_3/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_3"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_3/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #4 -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_4">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_4
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 2; $0 $@' "
          args="-urdf -x $(arg x4) -y $(arg y4) -z $(arg z4) -R 0 -P 0 -Y $(arg yaw4) -model eca_a9_4 -param /eca_a9_4/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_4/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_4"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_4/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #5 -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_5">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_5
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 4; $0 $@' "
          args="-urdf -x $(arg x5) -y $(arg y5) -z $(arg z5) -R 0 -P 0 -Y $(arg yaw5) -model eca_a9_5 -param /eca_a9_5/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_5/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_5"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_5/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #6 -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_6">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_6
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 5; $0 $@' "
          args="-urdf -x $(arg x6) -y $(arg y6) -z $(arg z6) -R 0 -P 0 -Y $(arg yaw6) -model eca_a9_6 -param /eca_a9_6/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_6/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_6"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_6/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #7 -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_7">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_7
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 6; $0 $@' "
          args="-urdf -x $(arg x7) -y $(arg y7) -z $(arg z7) -R 0 -P 0 -Y $(arg yaw7) -model eca_a9_7 -param /eca_a9_7/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_7/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_7"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_7/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #8 -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_8">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_8
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 7; $0 $@' "
          args="-urdf -x $(arg x8) -y $(arg y8) -z $(arg z8) -R 0 -P 0 -Y $(arg yaw8) -model eca_a9_8 -param /eca_a9_8/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_8/robot_description" />
    </node>
  </group>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #9 (海面AUV) -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_9">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_9
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 8; $0 $@' "
          args="-urdf -x $(arg x9) -y $(arg y9) -z $(arg z9) -R 0 -P 0 -Y $(arg yaw9) -model eca_a9_9 -param /eca_a9_9/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_9/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_9"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_9/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #10 (海底AUV 1) -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_10">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_10
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 9; $0 $@' "
          args="-urdf -x $(arg x10) -y $(arg y10) -z $(arg z10) -R 0 -P 0 -Y $(arg yaw10) -model eca_a9_10 -param /eca_a9_10/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_10/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_10"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_10/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #11 (海底AUV 2) -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_11">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_11
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 10; $0 $@' "
          args="-urdf -x $(arg x11) -y $(arg y11) -z $(arg z11) -R 0 -P 0 -Y $(arg yaw11) -model eca_a9_11 -param /eca_a9_11/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_11/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_11"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_11/base_link"/>
  </include>

  <!-- =================================================================================== -->
  <!-- SPAWN ECA A9 #12 (海底AUV 3) -->
  <!-- =================================================================================== -->
  <group ns="eca_a9_12">
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find eca_a9_description)/robots/eca_a9_default.urdf.xacro' --inorder
                    namespace:=eca_a9_12
                    inertial_reference_frame:=world" />

    <node name="urdf_spawner" pkg="uuv_descriptions" type="spawn_model" respawn="false" output="screen"
          launch-prefix="bash -c 'sleep 11; $0 $@' "
          args="-urdf -x $(arg x12) -y $(arg y12) -z $(arg z12) -R 0 -P 0 -Y $(arg yaw12) -model eca_a9_12 -param /eca_a9_12/robot_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <param name="robot_description" value="/eca_a9_12/robot_description" />
    </node>
  </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="eca_a9_12"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/eca_a9_12/base_link"/>
  </include>

  <!-- 启动第一个AUV的控制器（不启用内置RViz） -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_1"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>  <!-- 不启用内置RViz，避免冲突 -->
    <arg name="idle_radius" value="$(arg mid_radius)"/>  <!-- 使用相同半径的idle圆 -->
    <arg name="dubins_radius" value="5"/>  <!-- 减小Dubins半径提高响应 -->
    <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.0"/>  <!-- 增加前瞻延迟 -->
    <arg name="timeout_idle_mode" value="1"/>  <!-- 1秒后进入idle模式 -->
  </include>

  <!-- 启动第二个AUV的控制器（不启用内置RViz） -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_2"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>  <!-- 不启用内置RViz，避免冲突 -->
    <arg name="idle_radius" value="$(arg mid_radius)"/>  <!-- 使用相同半径的idle圆 -->
    <arg name="dubins_radius" value="5"/>  <!-- 减小Dubins半径提高响应 -->
    <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.0"/>  <!-- 增加前瞻延迟 -->
    <arg name="timeout_idle_mode" value="1"/>  <!-- 1秒后进入idle模式 -->
  </include>

  <!-- 启动第三个AUV的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_3"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg mid_radius)"/>
    <arg name="dubins_radius" value="5"/>
    <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.0"/>
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动第四个AUV的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_4"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg mid_radius)"/>
    <arg name="dubins_radius" value="5"/>
    <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.0"/>
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动第五个AUV的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_5"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg mid_radius)"/>
    <arg name="dubins_radius" value="5"/>
    <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.0"/>
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动第六个AUV的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_6"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg mid_radius)"/>
    <arg name="dubins_radius" value="5"/>
    <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.0"/>
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动第七个AUV的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_7"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg mid_radius)"/>
    <arg name="dubins_radius" value="5"/>
    <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.0"/>
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动第八个AUV的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_8"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg mid_radius)"/>
    <arg name="dubins_radius" value="5"/>
    <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.0"/>
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动海面AUV的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_9"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg surface_radius)"/>
    <arg name="dubins_radius" value="2"/>  <!-- 海面小半径，使用更小Dubins半径 -->
    <arg name="max_forward_speed" value="$(arg surface_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="0.5"/>  <!-- 海面反应更快 -->
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动海底AUV 1的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_10"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg bottom_radius)"/>
    <arg name="dubins_radius" value="3"/>  <!-- 海底中等Dubins半径 -->
    <arg name="max_forward_speed" value="$(arg bottom_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.2"/>  <!-- 海底更稳定 -->
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动海底AUV 2的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_11"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg bottom_radius)"/>
    <arg name="dubins_radius" value="3"/>
    <arg name="max_forward_speed" value="$(arg bottom_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.2"/>
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 启动海底AUV 3的控制器 -->
  <include file="$(find eca_a9_control)/launch/start_geometric_tracking_control.launch">
    <arg name="uuv_name" value="eca_a9_12"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="gui_on" value="false"/>
    <arg name="idle_radius" value="$(arg bottom_radius)"/>
    <arg name="dubins_radius" value="3"/>
    <arg name="max_forward_speed" value="$(arg bottom_max_forward_speed)"/>
    <arg name="look_ahead_delay" value="1.2"/>
    <arg name="timeout_idle_mode" value="1"/>
  </include>

  <!-- 手动启动轨迹标记发布器（用于RViz可视化） -->
  <group ns="eca_a9_1">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>
  
  <group ns="eca_a9_2">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <group ns="eca_a9_3">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <group ns="eca_a9_4">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <group ns="eca_a9_5">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <group ns="eca_a9_6">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <group ns="eca_a9_7">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <group ns="eca_a9_8">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <!-- 海面AUV轨迹标记发布器 -->
  <group ns="eca_a9_9">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <!-- 海底AUV轨迹标记发布器 -->
  <group ns="eca_a9_10">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <group ns="eca_a9_11">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <group ns="eca_a9_12">
    <node pkg="uuv_control_utils"
          type="trajectory_marker_publisher.py"
          name="trajectory_marker_publisher"
          output="screen">
        <remap from="trajectory" to="trajectory"/>
        <remap from="waypoints" to="waypoints"/>
    </node>
  </group>

  <!-- 启动RViz显示12个AUV -->
  <node name="multi_auv_rviz" pkg="rviz" type="rviz" output="screen" 
        args="-d $(find eca_a9_control)/rviz/multi_eca_a9_control.rviz"/>

  <!-- 为第一个AUV启动圆周轨迹，0度位置 -->
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_1"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg mid_radius)"/>
      <arg name="center_x" value="$(arg mid_center_x)"/>
      <arg name="center_y" value="$(arg mid_center_y)"/>
      <arg name="center_z" value="$(arg mid_center_z)"/>
      <arg name="n_points" value="100"/>
      <arg name="heading_offset" value="0"/>    <!-- AUV朝向与轨迹方向一致 -->
      <arg name="angle_offset" value="0"/>      <!-- 从0度开始，即(50,0)位置 -->
      <arg name="duration" value="0"/>  <!-- 0表示无限循环，和UUV参考代码一样 -->
      <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 3; $0 $@' "/>
  </include>

  <!-- 为第二个AUV启动圆周轨迹，45度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_2"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg mid_radius)"/>
      <arg name="center_x" value="$(arg mid_center_x)"/>
      <arg name="center_y" value="$(arg mid_center_y)"/>
      <arg name="center_z" value="$(arg mid_center_z)"/>
      <arg name="n_points" value="100"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="45"/>     <!-- 从45度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 4; $0 $@' "/>
  </include>

  <!-- 为第三个AUV启动圆周轨迹，90度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_3"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg mid_radius)"/>
      <arg name="center_x" value="$(arg mid_center_x)"/>
      <arg name="center_y" value="$(arg mid_center_y)"/>
      <arg name="center_z" value="$(arg mid_center_z)"/>
      <arg name="n_points" value="100"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="90"/>     <!-- 从90度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 5; $0 $@' "/>
  </include>

  <!-- 为第四个AUV启动圆周轨迹，135度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_4"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg mid_radius)"/>
      <arg name="center_x" value="$(arg mid_center_x)"/>
      <arg name="center_y" value="$(arg mid_center_y)"/>
      <arg name="center_z" value="$(arg mid_center_z)"/>
      <arg name="n_points" value="100"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="135"/>    <!-- 从135度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 6; $0 $@' "/>
  </include>

  <!-- 为第五个AUV启动圆周轨迹，180度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_5"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg mid_radius)"/>
      <arg name="center_x" value="$(arg mid_center_x)"/>
      <arg name="center_y" value="$(arg mid_center_y)"/>
      <arg name="center_z" value="$(arg mid_center_z)"/>
      <arg name="n_points" value="100"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="180"/>    <!-- 从180度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 7; $0 $@' "/>
  </include>

  <!-- 为第六个AUV启动圆周轨迹，225度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_6"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg mid_radius)"/>
      <arg name="center_x" value="$(arg mid_center_x)"/>
      <arg name="center_y" value="$(arg mid_center_y)"/>
      <arg name="center_z" value="$(arg mid_center_z)"/>
      <arg name="n_points" value="100"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="225"/>    <!-- 从225度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 8; $0 $@' "/>
  </include>

  <!-- 为第七个AUV启动圆周轨迹，270度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_7"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg mid_radius)"/>
      <arg name="center_x" value="$(arg mid_center_x)"/>
      <arg name="center_y" value="$(arg mid_center_y)"/>
      <arg name="center_z" value="$(arg mid_center_z)"/>
      <arg name="n_points" value="100"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="270"/>    <!-- 从270度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 9; $0 $@' "/>
  </include>

  <!-- 为第八个AUV启动圆周轨迹，315度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_8"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg mid_radius)"/>
      <arg name="center_x" value="$(arg mid_center_x)"/>
      <arg name="center_y" value="$(arg mid_center_y)"/>
      <arg name="center_z" value="$(arg mid_center_z)"/>
      <arg name="n_points" value="100"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="315"/>    <!-- 从315度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg mid_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 10; $0 $@' "/>
  </include>

  <!-- 为海面AUV启动圆周轨迹 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_9"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg surface_radius)"/>
      <arg name="center_x" value="$(arg surface_center_x)"/>
      <arg name="center_y" value="$(arg surface_center_y)"/>
      <arg name="center_z" value="$(arg surface_center_z)"/>
      <arg name="n_points" value="50"/>  <!-- 小圆使用更少点数 -->
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="0"/>      <!-- 海面AUV从0度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg surface_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 9; $0 $@' "/>
  </include>

  <!-- 为海底AUV 1启动圆周轨迹，0度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_10"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg bottom_radius)"/>
      <arg name="center_x" value="$(arg bottom_center_x)"/>
      <arg name="center_y" value="$(arg bottom_center_y)"/>
      <arg name="center_z" value="$(arg bottom_center_z)"/>
      <arg name="n_points" value="80"/>  <!-- 中等大小圆 -->
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="0"/>      <!-- 从0度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg bottom_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 10; $0 $@' "/>
  </include>

  <!-- 为海底AUV 2启动圆周轨迹，120度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_11"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg bottom_radius)"/>
      <arg name="center_x" value="$(arg bottom_center_x)"/>
      <arg name="center_y" value="$(arg bottom_center_y)"/>
      <arg name="center_z" value="$(arg bottom_center_z)"/>
      <arg name="n_points" value="80"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="120"/>     <!-- 从120度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg bottom_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 11; $0 $@' "/>
  </include>

  <!-- 为海底AUV 3启动圆周轨迹，240度位置 -->  
  <include file="$(find eca_a9_gazebo)/launch/start_circular_trajectory_with_offset.launch">
      <arg name="uuv_name" value="eca_a9_12"/>
      <arg name="start_time" value="-1"/>
      <arg name="radius" value="$(arg bottom_radius)"/>
      <arg name="center_x" value="$(arg bottom_center_x)"/>
      <arg name="center_y" value="$(arg bottom_center_y)"/>
      <arg name="center_z" value="$(arg bottom_center_z)"/>
      <arg name="n_points" value="80"/>
      <arg name="heading_offset" value="0"/>
      <arg name="angle_offset" value="240"/>     <!-- 从240度开始 -->
      <arg name="duration" value="0"/>
      <arg name="max_forward_speed" value="$(arg bottom_max_forward_speed)"/>
      <arg name="launch-prefix" value="bash -c 'sleep 12; $0 $@' "/>
  </include>
    
  <!-- 初始化12AUV记录 -->
  <include file="$(find eca_a9_gazebo)/launch/record_multi_demo.launch">
    <arg name="record" value="$(arg record)"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="bag_filename" value="$(arg bag_filename)"/>
  </include>
</launch>
