<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- DVL  -->
  <xacro:default_dvl_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="-1.4 0 -0.312" rpy="0 ${0.5*pi} 0"/>
  </xacro:default_dvl_macro>

  <!-- Magnetometer  -->
  <xacro:default_magnetometer namespace="${namespace}" parent_link="${namespace}/base_link"/>

  <!-- RPT  -->
  <xacro:default_rpt namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="-1.32 0 0.8" rpy="0 0 0"/>
  </xacro:default_rpt>

  <!-- Pressure (High Precision - noise reduced from 3.0 kPa to 0.5 kPa, ~0.05m) -->
  <xacro:pressure_plugin_macro
    namespace="${namespace}"
    suffix=""
    parent_link="${namespace}/base_link"
    topic="pressure"
    mass="0.015"
    update_rate="10"
    range="30000"
    noise_sigma="0.5"
    noise_amplitude="0.0"
    estimateDepth="false"
    standardPressure="101.325"
    kPaPerM="9.80638">
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
    <origin xyz="-1.32 0.5 0.85" rpy="0 0 0"/>
  </xacro:pressure_plugin_macro>

  <!-- IMU (High Precision Config copied from ECA A9) -->
  <xacro:imu_plugin_macro
    namespace="${namespace}"
    imu_suffix=""
    parent_link="${namespace}/base_link"
    imu_topic="imu"
    mass_imu_sensor="0.015"
    gyroscope_noise_density="0.00000029088"
    gyroscope_random_walk="0.00000029088"
    gyroscope_bias_correlation_time="3600.0"
    gyroscope_turn_on_bias_sigma="0.000004848"
    accelerometer_noise_density="0.000010"
    accelerometer_random_walk="0.000010"
    accelerometer_bias_correlation_time="3600.0"
    accelerometer_turn_on_bias_sigma="0.0098"
    orientation_noise="0.001"
    enable_local_ned_frame="false"
    reference_frame="world"
    update_rate="200">
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:imu_plugin_macro>

  <!-- Mount a camera -->
  <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="">
    <origin xyz="1.15 0 0.4" rpy="0 0.6 0"/>
  </xacro:default_camera>

  <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="right">
    <origin xyz="1.15 -0.63 0.4" rpy="0 0.6 0.4"/>
  </xacro:default_camera>

  <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="left">
    <origin xyz="1.15 0.63 0.4" rpy="0 0.6 -0.4"/>
  </xacro:default_camera>

  <!-- Mount a GPS. -->
  <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" />

  <!-- Mount a Pose 3D sensor. -->
  <xacro:default_pose_3d_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}" />
</robot>