<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Mount a 3D pose sensor -->
    <xacro:default_pose_3d_macro
      namespace="${namespace}"
      parent_link="${namespace}/base_link"
      inertial_reference_frame="${inertial_reference_frame}" />

    <!-- DVL sensor -->
    <xacro:dvl_plugin_macro
      namespace="${namespace}"
      suffix=""
      parent_link="${namespace}/base_link"
      topic="dvl"
      scale="0.62"
      noise_sigma="0"
      noise_amplitude="0"
      update_rate="20"
      reference_frame="world"
      relative_velocity_three_sigma="0.1">
      <origin xyz="0.4785 0.0 -0.0825" rpy="0 ${0.5*pi} 0" />
    </xacro:dvl_plugin_macro>

    <xacro:switchable_battery_consumer_macro
      link_name="${namespace}/dvl_link"
      battery_link="${namespace}/battery_link"
      battery_name="${namespace}/battery"
      power_load="25"
      topic="${namespace}/dvl/state"/>

    <!-- Side scan sonar left -->
    <xacro:if value="${1}">
    <xacro:sidescan_sonar namespace="${namespace}" parent_link="${namespace}/base_link" suffix="left">
      <origin xyz="0.41225 0.1498 -0.04615" rpy="${0.5*pi} ${-5*d2r+pi/3.0} ${0.5*pi}" />
    </xacro:sidescan_sonar>

    <xacro:switchable_battery_consumer_macro
      link_name="${namespace}/sonarleft_link"
      battery_link="${namespace}/battery_link"
      battery_name="${namespace}/battery"
      power_load="25"
      topic="${namespace}/sonarleft/state"/>
    </xacro:if>

    <!-- Side scan sonar right -->
    <xacro:if value="${1}">
    <xacro:sidescan_sonar
      namespace="${namespace}" parent_link="${namespace}/base_link" suffix="right">
      <origin xyz="0.41225 -0.1498 -0.04615" rpy="${0.5*pi} ${-5*d2r+pi/3.0} ${-0.5*pi}" />
    </xacro:sidescan_sonar>

    <xacro:switchable_battery_consumer_macro
      link_name="${namespace}/sonarright_link"
      battery_link="${namespace}/battery_link"
      battery_name="${namespace}/battery"
      power_load="25"
      topic="${namespace}/sonarright/state"/>
    </xacro:if>

    <!-- RPT: enable OWTT for all vehicles; subscribe to per-vehicle router -->
    <xacro:default_rpt
      namespace="${namespace}"
      parent_link="${namespace}/base_link"
      update_rate = "0.01"
      sound_speed="1500.0"
      max_range="120000.0"
      advertise_enabled="true"
      subscribe_enabled="true"
      processing_enabled="true"
      default_target_ns="router_${namespace}"
      auto_repeat_period="${rpt_auto_repeat_period}"
      range_noise_sigma_ratio="0.001"
      range_noise_sigma_min="0.0"
      range_noise_additive="true"
      range_noise_clip_ratio="0.003"> <!-- clip at +/- 0.3% of true range -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:default_rpt>

    <!-- Pressure: configure for +/- 1 m depth accuracy (3 sigma) -->
    <!-- With kPaPerM=9.80638 kPa/m, 1 m depth corresponds to 9.80638 kPa change.
         Set noise_sigma so that 3 sigma ~= 9.80638 kPa => sigma ~= 3.268793 kPa.
         Use zero-mean white noise: noise_amplitude=1.0 scales the Gaussian draw. -->
    <xacro:default_pressure
      namespace="${namespace}"
      parent_link="${namespace}/base_link"
      noise_sigma="3.268793"
      noise_amplitude="1.0">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:default_pressure>

    <xacro:switchable_battery_consumer_macro
      link_name="${namespace}/pressure_link"
      battery_link="${namespace}/battery_link"
      battery_name="${namespace}/battery"
      power_load="5"
      topic="${namespace}/pressure/state"/>

    <!-- IMU (high-precision INS, gyro bias 0.001 deg/h) -->
    <xacro:imu_plugin_macro
      namespace="${namespace}"
      imu_suffix=""
      parent_link="${namespace}/base_link"
      imu_topic="imu"
      mass_imu_sensor="0.015"
      gyroscope_noise_density="0.00000029088"
      gyroscope_random_walk="0.00000029088"
      gyroscope_bias_correlation_time="3600.0"
      gyroscope_turn_on_bias_sigma="0.000004848"
      accelerometer_noise_density="0.000010"
      accelerometer_random_walk="0.000010"
      accelerometer_bias_correlation_time="3600.0"
      accelerometer_turn_on_bias_sigma="0.0098"
      orientation_noise="0.001"
      enable_local_ned_frame="false"
      reference_frame="world"
      update_rate="200">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:imu_plugin_macro>

    <xacro:switchable_battery_consumer_macro
      link_name="${namespace}/imu_link"
      battery_link="${namespace}/battery_link"
      battery_name="${namespace}/battery"
      power_load="20"
      topic="${namespace}/imu/state"/>

    <!-- Mount a camera -->
    <xacro:if value="${1}">
    <xacro:regular_camera_plugin_macro
        namespace="${namespace}"
        suffix=""
        parent_link="${namespace}/base_link"
        topic="camera"
        mass="0.015"
        update_rate="30"
        hfov="1.8125"
        width="768"
        height="492"
        stddev="0.02"
        scale="0.5">
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
        <origin xyz="-0.375 0 -0.16" rpy="0 0.3 0"/>
    </xacro:regular_camera_plugin_macro>

    <xacro:switchable_battery_consumer_macro
      link_name="${namespace}/camera_link"
      battery_link="${namespace}/battery_link"
      battery_name="${namespace}/battery"
      power_load="25"
      topic=""/>
    </xacro:if>

    <!-- Mount a GPS. -->
    <xacro:if value="${0}">
    <xacro:default_gps namespace="${namespace}" parent_link="${namespace}/base_link" />

    <xacro:switchable_battery_consumer_macro
      link_name="${namespace}/gps_link"
      battery_link="${namespace}/battery_link"
      battery_name="${namespace}/battery"
      power_load="5"
      topic=""/>
    </xacro:if>

    <!-- Mount the chemical concentration sensor -->
    <xacro:if value="${0}">
    <xacro:default_chemical_concentration_sensor namespace="${namespace}" parent_link="${namespace}/base_link">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:default_chemical_concentration_sensor>
    </xacro:if>

    <!-- Custom Down-Looking MBES (100m range) -->
  <xacro:macro name="no_collision">
    <collision>
      <geometry>
        <cylinder length="${0.000001}" radius="${0.000001}" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 ${0.5*pi} 0"/>
    </collision>
  </xacro:macro>

  <xacro:property name="mbes_suffix" value="_mbes"/>
  <xacro:property name="mbes_topic" value="mbes"/>
  <xacro:property name="mbes_fov" value="1.047"/>
  <xacro:property name="mbes_width" value="64"/>
  <xacro:property name="mbes_height" value="64"/>
  <xacro:property name="mbes_update_rate" value="10"/>
  <xacro:property name="mbes_range_near" value="0.5"/>
  <xacro:property name="mbes_range_far" value="100.0"/>

  <!-- MBES Sensor Link -->
  <link name="${namespace}/forward_sonar${mbes_suffix}_link">
    <inertial>
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <mass value="0.015" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
    </visual>
    <xacro:no_collision/>
  </link>

  <joint name="${namespace}_forward_sonar${mbes_suffix}_joint" type="fixed">
    <!-- Mounted at bottom, looking DOWN (Pitch = pi/2) -->
    <origin xyz="0.6 0 -0.12" rpy="0 1.5708 0"/>
    <parent link="${namespace}/base_link" />
    <child link="${namespace}/forward_sonar${mbes_suffix}_link" />
  </joint>

  <gazebo reference="${namespace}/forward_sonar${mbes_suffix}_link">
    <sensor name="${namespace}/image_sonar" type="depth">
      <camera>
        <horizontal_fov>${mbes_fov}</horizontal_fov>
        <image>
          <width>${mbes_width}</width>
          <height>${mbes_height}</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>${mbes_range_near}</near>
          <far>${mbes_range_far}</far>
        </clip>
      </camera>
      <plugin filename="libgazebo_ros_depth_camera.so" name="forward_sonar${mbes_suffix}_controller">
        <cameraName>depth</cameraName>
        <imageTopicName>image_raw_color</imageTopicName>
        <cameraInfoTopicName>camera_info_color</cameraInfoTopicName>
        <depthImageTopicName>image_raw</depthImageTopicName>
        <depthImageCameraInfoTopicName>camera_info</depthImageCameraInfoTopicName>
        <pointCloudTopicName>points</pointCloudTopicName>
        <frameName>${namespace}/forward_sonar${mbes_suffix}_optical_frame</frameName>
        <updateRate>${mbes_update_rate}</updateRate>
      </plugin>
      <always_on>true</always_on>
      <update_rate>${mbes_update_rate}</update_rate>
    </sensor>
  </gazebo>

  <joint name="${namespace}/forward_sonar${mbes_suffix}_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="${namespace}/forward_sonar${mbes_suffix}_link"/>
    <child link="${namespace}/forward_sonar${mbes_suffix}_optical_frame"/>
  </joint>

  <link name="${namespace}/forward_sonar${mbes_suffix}_optical_frame"/>

    <!-- Acoustic modem (removed) -->
</robot>
